/* Stile per il chatlist-container */
.chatlist-container {
  display: inline-block;
  flex-direction: column;  
  width: 30%; 
  height: 100%;
  max-height:100%;
  background-color: #0368ce;  /* Un bel blu */
  padding: 20px;
  border-radius: 10px;  /* Bordo arrotondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra leggera */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Effetti di transizione */
  overflow-y: auto;
}

/* Cambia il colore del container al passaggio del mouse */
.chatlist-container:hover {
  background-color: #00BFFF;  /* Un blu più brillante */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombra più accentuata */
}

/* Stile per la ChatList */
.chat-list {
  background-color: transparent; /* Sfondo trasparente per la lista */
  width: 30%;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  overflow-y: auto;
  max-height: 80%;
}

/* Stile per gli elementi della lista */
.chat-list h2 {
  margin-bottom: 10px;  /* Margine inferiore per l'intestazione */
}

.chat-list ul {
  list-style-type: none;  /* Rimuove i punti elenco */
  padding: 0;
  margin: 0;
}

.chat-list li {
  cursor: pointer;  /* Cambia il cursore al passaggio del mouse */
  padding: 10px 0;  /* Spaziatura superiore e inferiore */
  display: flex; /* Imposta il layout flessibile per allineare immagine e testo */
  align-items: baseline;
  border-bottom: 1px solid #E0E0E0;  /* Linea divisoria tra le chat */
  transition: background-color 0.3s ease-in-out;
  max-height: 30vh;
  overflow: auto; /* Effetto di transizione */
  flex-wrap: wrap;
  align-content: flex-start;
}

/* Cambia il colore dell'elemento della lista al passaggio del mouse */
.chat-list li:hover {
  background-color: #201cdf; /* Un colore più chiaro al passaggio del mouse */
}

/* Stile per l'immagine del profilo */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Applica la forma di cerchio */
  overflow: hidden; /* Nasconde parti dell'immagine al di fuori del cerchio */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra leggera */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Effetti di transizione su ombra e trasformazione */
}

/* Stile per l'icona all'interno dell'immagine del profilo */
.profile-icon {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adatta l'immagine all'interno del cerchio */
  border: 2px solid white; /* Bordo bianco sottile intorno all'immagine */
  transition: border-color 0.3s ease-in-out; /* Effetto di transizione sul bordo */
}

/* Stile per l'animazione dell'ombra e del bordo al passaggio del mouse */
.profile-image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombra più accentuata al passaggio del mouse */
  transform: scale(1.05); /* Ingrandisce leggermente l'immagine */
}

.profile-image:hover .profile-icon {
  border-color: #00A2E8; /* Cambia il colore del bordo al passaggio del mouse */
}
.dropdown-menu-list {
  position: absolute;
  top: auto;
  left: 463px;
  width: 68%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 0px 5px;
  box-shadow: inset -1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  padding-right: 22px;
  border-bottom: 1px solid #ccc;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-menu-list li {
  cursor: pointer;
  padding: 10px; 
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  transition: background-color 0.3s ease-in-out;
  max-height: 30vh;
  overflow: auto;
}

.dropdown-menu-list li:hover {
  background-color: #f5f5f5;
}
.new-chat-button {
  position:relative;
  font-size: 20px; /* Aumenta la dimensione del font */
  padding: 20px; /* Aumenta il padding */
}
.dropdown-menu-list-image {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 29px; /* Spaziatura superiore e inferiore */
  border-bottom: 1px solid #E0E0E0; /* Linea divisoria tra le voci */
  transition: background-color 0.3s ease-in-out;
  overflow-x: auto;
}

.dropdown-menu-list-image img {
  width: 30px; /* Larghezza dell'immagine */
  height: 30px; /* Altezza dell'immagine */
  object-fit: cover; /* Adatta l'immagine al riquadro */
  border-radius: 50%; /* Forma circolare */
  margin-right: 10px; /* Spazio a destra dell'immagine */
}
