.PostForm {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .PostForm .flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .PostForm-bacheca textarea {
    flex: 1;
    resize: none;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .PostForm textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .PostForm .location-input {
    display: flex;
    align-items: center;
  }
  
  .PostForm .location-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .PostForm .location-input input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .PostForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .PostForm button:hover {
    background-color: #0056b3;
  }
  
  .PostForm .icon {
    margin-right: 10px;
  }
  
  .PostForm .anonymous-button {
    margin-bottom: 10px;
    cursor: pointer;
    color: #007bff;
    font-size: 12px;
  }
  
  .PostForm .radius-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .PostForm .radius-input select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .PostForm .date-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .PostForm .date-input .react-datepicker-wrapper {
    width: 100%;
  }
  
  .PostForm .date-input .react-datepicker__input-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
  }
  