.post {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    overflow: hidden;
    min-height: 325px;
  }
  
  .post:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .username {
    font-weight: 600;
    font-size: 14px;
  }
  
  .post-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
  }
  
  .post-location,
  .post-radius,
  .post-searching-for,
  .post-time,
  .post-date {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #777;
    margin-bottom: 6px;
  }
  
  .post-location svg,
  .post-radius svg,
  .post-searching-for svg,
  .post-time svg,
  .post-date svg {
    margin-right: 4px;
  }
  .swipe-slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    margin:auto;
    
  }
  
  .slider {
    width: 100%;
    height: 100%;
    appearance: none;
    background-color:#474343;
    border: none;
    outline: none;
    cursor: grab;
    transition: background-color 0.3s ease;
     /* Cambia il cursore durante il trascinamento */
  }
  .slider:active {
    cursor: grabbing;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slider.liked::-webkit-slider-thumb {
    background-color: #ff6b6b;
  }
  
  .heart-icon {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Aggiunto 'transform' */
    position: absolute;
    left: 0; /* Posizione iniziale a sinistra */
    z-index: 1; /* Assicurati che l'icona sia sopra al cursore */
    color:rgb(255, 255, 255);
  }
  .heart-icon:hover {
    background-color: rgb(4, 250, 4);
  }
  .liked {
    background-color: rgba(4, 250, 4, 0.7); /* Colore verde con opacità 0.8 */
  }
  .cancel {
    color: red;
    
  }
  .likes-section {
    display: flex;
    align-items: center;
    margin-top: 8px;
    height: 100%;
    width: 100%;
  }
  .likes-list {
    display: flex;
    align-items: center;
    gap: 10px; /* Aggiungi uno spazio tra le immagini profilo e gli username */
  }
  
  .like-item {
    display: flex;
    align-items: center;
  }
  
  .Like-profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .username {
    font-weight: 600;
    font-size: 14px;
  }
  